
-- 1. Enable RLS on ALL our tables
ALTER TABLE \
User\ ENABLE ROW LEVEL SECURITY;
ALTER TABLE \Thread\ ENABLE ROW LEVEL SECURITY;
ALTER TABLE \Comment\ ENABLE ROW LEVEL SECURITY;
ALTER TABLE \Reply\ ENABLE ROW LEVEL SECURITY;
ALTER TABLE \Community\ ENABLE ROW LEVEL SECURITY;
ALTER TABLE \CommunityMember\ ENABLE ROW LEVEL SECURITY;
ALTER TABLE \CommunityRule\ ENABLE ROW LEVEL SECURITY;
ALTER TABLE \Conversation\ ENABLE ROW LEVEL SECURITY;
ALTER TABLE \ConversationParticipant\ ENABLE ROW LEVEL SECURITY;
ALTER TABLE \Message\ ENABLE ROW LEVEL SECURITY;
ALTER TABLE \Group\ ENABLE ROW LEVEL SECURITY;
ALTER TABLE \GroupParticipant\ ENABLE ROW LEVEL SECURITY;
ALTER TABLE \GroupMessage\ ENABLE ROW LEVEL SECURITY;
ALTER TABLE \Report\ ENABLE ROW LEVEL SECURITY;
ALTER TABLE \SavedThread\ ENABLE ROW LEVEL SECURITY;
ALTER TABLE \SavedComment\ ENABLE ROW LEVEL SECURITY;
ALTER TABLE \ThreadVote\ ENABLE ROW LEVEL SECURITY;
ALTER TABLE \CommentVote\ ENABLE ROW LEVEL SECURITY;
ALTER TABLE \ReplyVote\ ENABLE ROW LEVEL SECURITY;
ALTER TABLE \Notification\ ENABLE ROW LEVEL SECURITY;
ALTER TABLE \UserFollow\ ENABLE ROW LEVEL SECURITY;
ALTER TABLE \AppSetting\ ENABLE ROW LEVEL SECURITY;
ALTER TABLE \Feedback\ ENABLE ROW LEVEL SECURITY;
ALTER TABLE \HelpRequest\ ENABLE ROW LEVEL SECURITY;
ALTER TABLE \_prisma_migrations\ ENABLE ROW LEVEL SECURITY;

-- 2. Create a \Deny
All\ policy for the public 'anon' role (Just to be explicit)
-- Note: Enabling RLS without policies already denies access, but policies make it visible.
-- We will NOT create any permissive policies for 'anon' because our app uses the backend.

